.App {
  text-align: center;
  margin-inline: auto;
  max-width: 1100px;
  align-items: center;
  /* display: grid; */
  /* grid-template-columns: repeat(); */
}

.singleReview {
  border-style: solid;
  border-color: red;
  border-radius: 20px;

}

.reviewTitle {
  font-weight: bold;
}

img {
  width: 80%;
  max-width: 600px;
}

ul {  
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

a {
  color: black;
}

a:hover {
  color: blue;
  transition: 0.5s;
}

.singleComment {
  border-style: solid;
  border-color: red;
  border-radius: 20px;
}

.commentAuthor  {
  font-weight: bold;
}